body {background-color: antiquewhite;
}
h1{font-weight: 100; font-style: inherit;
}
h2{font-weight: 100; font-style: inherit;}
h3{font-weight: 100; font-style: inherit;}
h4{font-weight: 100; font-style: inherit;}
h5{font-weight: 100; font-style: inherit;}
h6{font-weight: 100; font-style: inherit;}
#ima1 {font-size: large 50%;}
